* {
    box-sizing: border-box;
}

body{
    margin:0px;
    font-family: Raleway;
}

.topcontainer{
        
        max-width: 1390px;
}

header
{
    justify-self: center;
    justify-content:space-between;
    flex-wrap: wrap;
    display: flex;
}

.onglet 
{
    font-size:20px;
}

.onglet:nth-child(1)
{
   padding-left: 20px;
    order: 1;
    width:50%;
}

.onglet:nth-child(2)
{
    order: 3;
    width: 50%;
    text-align:center;
}

.onglet:nth-child(3)
{
    text-align:center;
    order: 4;
    width: 50%;

}

.onglet:nth-child(4)
{
    color: #0065FC;
    order: 2;
    font-weight: bold;
    margin-top: 14px;
    padding-right: 20px ;
    width:50%;
    text-align:right;
}

.text
{
    padding-left : 20px;
    padding-right : 30px;
}

p:nth-child(1)
{
    font-weight: bold;
    font-size: 20px;
}

.Recherche
{

    display: flex;
    height: 32px;
    margin-bottom: 30px;
    padding-left: 20px;
}
.searchbar{
    font-weight:bold;
    font-size: 100%;
    border-color:#F2F2F2;
    border-style: solid;
}
.button
{
    background-color:#0065FC;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    border-bottom-right-radius:10px ;
    border-top-right-radius:10px;
}
.icon{
    display:flex;
    font-size: 100%;
    background-color: #F2F2F2;
    border-bottom-left-radius:15px ;
    border-top-left-radius:15px;
    width:50px;
    align-items: center;
    justify-content: center;
    
}

.filterbar{
    flex-wrap: wrap;
    display: flex;
}

.filter{
    font-weight:bold ;
    background-color: white;
    padding: 10px;
    padding-left: 0px;
    margin: 5px;
    border-style: solid;
    border-radius: 50px;
    border-color:#F2F2F2;
    border-left: none;
}

.filtericon{
    
        background-color: aqua;
        border-radius: 50px;
}

.filter .fas {

    color:#0065FC;

}


.filter:hover{

    background-color:#0065FC;
    color: white;
}

.filter:nth-child(1){
    border-style: none;
    width: 100%;
}


.bottomcontainer 
{
    display: flex;
    background-color: #F2F2F2;
    justify-content: flex-start;
}

footer
{
    
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1390px;
    margin-right: 20px;
}

.footercol
{
    padding-left: 20px;
    font-size: 14px;
    
    
}
.footertext
{
    text-decoration: none;
    color: black;
}

@media all and (min-width: 768px){

    header
    {
        justify-content:space-between; 
        display: flex;
        flex-wrap: nowrap;
    }
    
    .onglet 
    {
        padding-top: 18px;
    }
    
    .onglet:nth-child(1)
    {
        padding-top: 0px;
        padding-left: 20px;
        width:50%;
    }
    
    .onglet:nth-child(2)
    {
        margin-left:0px;
        order:2;
        width:auto;
    }
    
    .onglet:nth-child(3)
    {
        width:auto;
        order:3;
    }
    
    .onglet:nth-child(4)
    {
        order:4;
        margin-top: 0px;
        width:auto;
    }


    .filter:nth-child(1){
        width: auto;
    }
    
    .bottomcontainer 
{

    justify-content: center;
}

    footer
    {
        display: flex;
        align-items:flex-start;
        flex-direction: row;
        justify-content: space-between; 
        width:100%;
    }

    .footercol{
        width:33%;
    }
    .footercol:nth-child(1){
        margin-left: 20px; 
    }

}