* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Raleway;
}

.topcontainer {
  max-width: 1390px;
  margin-left: auto;
  margin-right: auto;
}

header {
  justify-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.onglet {
  font-size: 20px;
}

.onglet:nth-child(1) {
  padding-left: 20px;
  order: 1;
  width: 50%;
}

.onglet:nth-child(2) {
  order: 3;
  width: 50%;
  text-align: center;
}

.onglet:nth-child(3) {
  text-align: center;
  order: 4;
  width: 50%;
}

.onglet:nth-child(4) {
  color: #0065fc;
  order: 2;
  font-weight: bold;
  margin-top: 14px;
  padding-right: 20px;
  width: 50%;
  text-align: right;
}

.text {
  padding-left: 20px;
  padding-right: 30px;
}

p:nth-child(1) {
  font-weight: bold;
  font-size: 20px;
}

.Recherche {
  display: flex;
  height: 32px;
  margin-bottom: 30px;
  padding-left: 20px;
}
.searchbar {
  font-weight: bold;
  font-size: 100%;
  border-color: #f2f2f2;
  border-style: solid;
}
.button {
  background-color: #0065fc;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  border-radius: 10px;
  width: 40px;
}
.icon {
  display: flex;
  font-size: 100%;
  background-color: #f2f2f2;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 40px;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}

.filterbar {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding-left:20px;
}

.filter {
  font-weight: bold;
  background-color: white;
  margin: 5px;
  padding: 0px;
  border-radius: 50px;
  display: flex;
  height: 40px;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-left: none;
  overflow: hidden;
}

.filtertext {
  width: 100%;
  margin: 10px;
}

.filtericon {
  background-color: #deebff;
  border-radius: 0 50px 50px 0;
  height: 100%;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textrecherche {
  display: none;
}

.filter .fas {
  color: #0065fc;
}

.filtertitle {
  padding: 0 10px;
}

.filter:hover {
  background-color: #0065fc;
  color: white;
}

.filter:nth-child(1) {
  border-style: none;
  width: 100%;
}

.textinfo {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  padding-left: 20px;
}

.infoicon .fas {
  font-size: 8px;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  color: #0065fc;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectioncontainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.hebergements_populaires {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #f2f2f2;
  flex-direction: column;
}
.hebergements_populaires .articlesection a {
  display: flex;
  background-color: white;
  border: 5px solid white;
  border-radius: 20px;
  margin-top: 10px;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 0 15px 0 15px;
}

.textsection {
  font-weight: bold;
}

.iconsection{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hebergements_populaires .articlesection .picturesection{
        width:50%;
        height: 100%;
        border-radius: 20px;
}

.photohebergement{
        width: 100%;
        height: 180px;
        border-radius: 20px 0 0 20px;
        object-fit: cover;
        display: block;
} 

.infohebergement {

  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15px 0px 15px 15px
}
.infohebergement p{
 margin: 5px 0 5px 0;

}
.infohebergement p:nth-child(1){
  font-size: 16px;
 }
 .infohebergement p:nth-child(2){
  font-size: 14px;
 }
.infohebergement .fas {
  color: #0065fc;
}

.infohebergement .fas.gris{
  color: gray;
}

.infohebergement .stars {
  margin-top: auto;
}

.hebergements {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
}

.hebergements .articlesection a {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 5px solid white;
  box-shadow: 0px 5px 15px #bcbfc2;
  border-radius: 20px;
  margin: 10px;

}

.hebergements .articlesection .picturesection{
  width:100%;
  height: 50%;
}

.hebergements .articlesection .picturesection .photohebergement{
  border-radius: 20px 20px 0 0;
} 
.hebergements .articlesection .infohebergement{
  width:100%;
  height: 50%;
}

.hebergements .articlesection .infohebergement p {
  margin: 2px;
}

.articlesection a{
  text-decoration: none;
  color: black;
}

.linkafficherplus{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px
}

.activites {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
}

.activites .articlesection a{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 5px solid white;
  box-shadow: 0px 5px 15px #bcbfc2;
  border-radius: 20px;
  margin: 10px;

}

.activites .articlesection .picturesection{
  width:100%;
  height: 50%;
}

.activites .articlesection .picturesection .photohebergement{
  border-radius: 20px 20px 0 0;
} 
.activites .articlesection .infohebergement{
  width:100%;
  
}
.activites .articlesection .infohebergement p {
  margin:2px ;
}

.bottomcontainer {
  display: flex;
  background-color: #f2f2f2;
  justify-content: flex-start;
}

footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1390px;
  margin-right: 20px;
}

.footercol {
  padding-left: 20px;
  font-size: 14px;
}
.footertext {
  text-decoration: none;
  color: black;
}

@media all and (min-width: 768px) {
  header {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
  }

  .onglet {
    padding-top: 18px;
  }

  .onglet:nth-child(1) {
    padding-top: 0px;
    padding-left: 20px;
    width: 50%;
  }

  .onglet:nth-child(2) {
    margin-left: 0px;
    order: 2;
    width: auto;
  }

  .onglet:nth-child(3) {
    width: auto;
    order: 3;
  }

  .onglet:nth-child(4) {
    order: 4;
    margin-top: 0px;
    width: auto;
  }

  .filter:nth-child(1) {
    width: auto;
  }

  .filtertext {
    width: auto;
  }

  .textrecherche {
    display: initial;
  }
  .button{
  border-radius: 0 10px 10px 0;
  width: 110px;
  }
  .button .fas {
    display: none;
  }

  .bottomcontainer {
    justify-content: center;
  }

  footer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footercol {
    width: 33%;
  }
  .footercol:nth-child(1) {
    margin-left: 20px;
  }
  section {
    margin-top: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .hebergements_populaires {
    order:2;
    display: flex;
    width: 29%;
    padding: 10px;
    background-color: #f2f2f2;
    flex-direction: column;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
  }
  .hebergements_populaires .articlesection{
    width: 90%;
  }
  .hebergements_populaires .articlesection .picturesection{
    width:35%;
  }
  .hebergements_populaires .articlesection .infohebergement{
    width:65%;
  }
  .hebergements {
    order:1;
    display: flex;
    width: 69%;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 30px;
    justify-content: space-between;
    align-items: stretch;
  }
  .hebergements .articlesection {
    width:33%;
    padding:15px;
  }
  .hebergements .articlesection a {
    display: flex;
    background-color: white;
    border: 5px solid white;
    box-shadow: 0px 5px 15px #bcbfc2;
    border-radius: 20px;
    margin: 0;
    height: 100%;
  }
  .linkafficherplus{
    padding:15px 15px 15px 15px;
  }
  .activites{
  order:3;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  }

  .activites .articlesection .picturesection a{
    height:100%
  }
  .activites .articlesection .picturesection{
    height: 70%;
  }


  .activites .articlesection .infohebergement{
    height:30%;
  }

  .activites .articlesection{
    width:23%;
  }

.doublearticle{
  display: flex;
  flex-direction: column;
  width:23%;
  }
  .doublearticle .articlesection{
    width:100%
    }
}
